*{
    margin:0;
    padding: 0;
}
body{
    background-color: #001427;
    text-align: center;
}
h1{
    color: aliceblue;
}
.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1.5vmin;
    padding-top: 10vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0, 0,0,0.3);
    font-size: 8vmin;
    color: crimson;
    background-color: azure;
}
.reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:azure;
    border-radius: none;
}

#new-btn{
    padding: 1rem;
    font-size: 0.50rem;
    background-color:azure;
    border-radius:1 vmin;
}

.winner{
    height: 100vmin;
}

.hide{
    display: none;
}